@model WebStore.Web.Models.AuctionViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
     
        @foreach (var auction in Model.Auctions)
        {
          <form>
        
            id: @auction.Id
            name:@auction.Name
            price:@auction.Price
            seller:@auction.Seller
          <button> @Html.Action("Buy","Home",new { Id = auction.Id }) </button>
        
          </form>
        }
       <p>@Html.ActionLink("Create new auction", "Index","CreateAuction",null,new { @class = "btn btn-default" })</p>
    </div>
    
</body>
@Scripts.Render("~/bundles/bootstrap")
</html>