@model WebStore.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
 }


@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div>
        <p>@Html.TextBoxFor(m => m.UserName) Username</p>
    </div>
     <div>
        <p>@Html.PasswordFor(m => m.Password) Password</p>
     </div>
        
        <input class="btn btn-primary" type="submit" value="submit" />

}
@Html.ActionLink("Create new account", "Index", "CreateAccount", null, new { @class = "btn btn-default" })