@model WebStore.Web.Models.CreateAccountViewModel

@{
    ViewBag.Title = "Index";
 //  string  un = Request["userame"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Create", "CreateAccount", FormMethod.Post))
    {
        <div>
            <p>@Html.TextBoxFor(m => m.UserName) Username</p>
        </div>
        <div>
            <p>@Html.TextBoxFor(m => m.Email) Email</p>
        </div>
        <div>
            <p>@Html.PasswordFor(m => m.Password) Password</p>
        </div>
        <div>
            <p>@Html.PasswordFor(m => m.RepeatPassword) Repeat Password</p>
        </div>
        <input type="submit" value="submit" />

    }

</body>
</html>