@model WebStore.Web.Models.UsersViewModel
@{
    ViewBag.Title = "Index";
   string  un = Request["userame"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- ovo radi nekako, proveri sa tihijem danas -- ></!-->
    <h1>Create Account</h1>
    @using (Html.BeginForm("RedirectToLoginPage", "CreateAccount", FormMethod.Post))
    {
       @Html.TextAreaFor(m => m.UserName)

    }

</body>
</html>