
@{
    ViewBag.Title = "Index";
   string  un = Request["userame"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- ovo radi nekako, proveri sa tihijem danas -- ></!-->
    <h1>Create Account</h1>
    @using (Html.BeginForm("RedirectToLoginPage", "CreateAccount", FormMethod.Post))
    {
        <form method="post">
<input type="text" name="username" placeholder="username" required="required" /><br />

<input type="email" name="email" placeholder="email" required="required" /><br />

<input type="password" name="password" placeholder="password" required="required" /><br />

<input type="password" name="repeat_password" placeholder="repeat password" required="required"  /><br />

<input type="submit" value="Submit" /><br />

</form>
    }

</body>
</html>