@model WebStore.Web.Models.AuctionViewModel


 <h1>Your user page</h1>
 @Html.ActionLink("Evidence","Index","Evidence", null, new { @class = "btn btn-default" })
 @Html.ActionLink("Manage auctions","Index","ManageAuctions", null, new { @class = "btn btn-default" })
