@model WebStore.Web.Models.UsersViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        @foreach (var user in Model.Users)
        {
            <h1>@user.UserName</h1>
            <h1>@user.Email </h1>
            <h1>@user.Credit</h1>
        }

    </div>
</body>
</html>
