
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Create", "CreateAuction", FormMethod.Post))
    {
    <form method="post">
        <input type="text" name="name" placeholder="Auction name" required="required" />
        <input type="text" name="price" placeholder="Price" required="required" />
        <input type="submit" value="Submit" />
    </form>
    }
</body>
</html>
