@model WebStore.Web.Models.CreateAuctionViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Create", "CreateAuction", FormMethod.Post))
    {
    <form method="post">

        <div>
            <p>@Html.TextBoxFor(m => m.Name) Item Name</p>
        </div>

        <div>
            <p>@Html.TextBoxFor(m => m.Price) Price</p>
        </div>

        <input type="submit" value="Submit" />
    </form>
    }
</body>
</html>
